*{
    margin: 0;
    padding: 0;
}

div{
    float: left;
}

.caja{
    margin: 30px;
    width: 200px;
    height: 300px;
    display: flex;
    border: 2px solid red;
}

.caja img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.caja2{
    margin: 30px;
    width: 200px;
    height: 300px;
    display: flex;
    border: 2px solid red;
}

.caja2 img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: left;
}