*{
    color:rgba(119, 0, 255, 0.904);
}
h1{
    color:brown;
}
.parrafo{
    color: chocolate;
}
#causita{
    color: crimson;
}
[quechuchafuecasusita="sipe"]{
    color: goldenrod;
}

.parrafo b {
    color:lawngreen;
}

h3:hover{
    color: lightseagreen;
}