*{
    color:rgba(119, 0, 255, 0.904);
    font-family: 'Courier New', Courier, monospace;
}
#XD{
    color:brown;
}

h1{
    color: mediumvioletred;
}
.parrafo{
    color: chocolate;
}
#causita{
    color: lightseagreen;
}
[quechuchafuecasusita="sipe"]{
    color: goldenrod;
}

.parrafo b {
    color:lawngreen;
}

h3:hover{
    color: lightseagreen;
}