* {
    margin: 0;
    padding: 0;
}

div {
    width: 150px;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

.contenedor{
    margin: 50px;
}

.caja1{
background-color: darkgoldenrod;

}

.caja2{
    background-color: blueviolet;
    position: absolute;
    top: 10px;
    left: 10px;
}

.caja3{
    background-color: chartreuse;

}
