<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiquetas principales</title>
</head>
<body>
  <div class="">
      <p>
          <p style="font-weight: bold;">¿Que es un lenguaje compilado?</p><br>
          Un lenguaje compilado es aquel que necesita ser trasformado a lenguaje 
          de maquina a traves de la compilacion. 
      </p>
      <ul>
          <li>Uno</li>
          <li>Dos</li>
          <li>Tres</li>
          <li>Cuatro</li>
          <li>Cinco</li>
      </ul>
      <ol>
        <li>Uno</li>
        <li>Dos</li>
        <li>Tres</li>
        <li>Cuatro</li>
        <li>Cinco</li>
    </ol>
  </div>
</body>
</html>